In [1]:
import pandas as pd
import numpy as np

In [2]:
part_name = ['az','ka','bu']

In [3]:
df = pd.DataFrame({'number':['daaz',
             'ka li','rubu']})
df

  number
0   daaz
1  ka li
2   rubu

In [4]:
for i in part_name:
    df.loc[(df.number.str.contains(i)),'number'] = i

In [5]:
df

  number
0     az
1     ka
2     bu